@font-face {
    font-family: myFirstFont;
    src: url(Kanit-Medium.ttf);
}
@media print {
    audio{
        display: none;
    }
    #nav{
       display: none; 
    }
}
@media only screen and (max-width: 480px) {
    audio{
        display: none;
    }
    table{
        width: 100% !important;
    }
}
@media only screen and (max-width: 768px) and (min-width: 480px) {
    table{
        width: 90% !important;
    }
  }
@media only screen and (min-width: 768px) {
    table{
        width: 80% !important;
    }
}
body {
    background-image:linear-gradient(to left, pink, white);
    background-repeat: repeat;
  }
*{
    font-family: myFirstFont, serif;
}
#nav{
    text-align: center;
    width: 100dvw;
    border: 2px solid;
    background-color: skyblue;
}
h1{
    color: #00a15c;
}
h2{
    color: #006ba1;
}
table, th, td {
    border: 1px solid;
}
table{
    background-color: gainsboro;
}